Q1

In [2]:
import pandas as pd
df = pd.read_csv("iris.csv")
missing_values = df.isnull().sum()
print(missing_values)
cleaned_df = df

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

Q2

In [4]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
df = pd.read_csv("iris.csv")
nf = df.select_dtypes(include=[np.number])
standardized_nf = preprocessing.StandardScaler().fit_transform(nf)
df[nf.columns] = standardized_nf
standardized_df = df
standardized_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,-1.720542,-0.900681,1.032057,-1.341272,-1.312977,Iris-setosa
1,-1.697448,-1.143017,-0.124958,-1.341272,-1.312977,Iris-setosa
2,-1.674353,-1.385353,0.337848,-1.398138,-1.312977,Iris-setosa
3,-1.651258,-1.506521,0.106445,-1.284407,-1.312977,Iris-setosa
4,-1.628164,-1.021849,1.263460,-1.341272,-1.312977,Iris-setosa
...,...,...,...,...,...,...
145,1.628164,1.038005,-0.124958,0.819624,1.447956,Iris-virginica
146,1.651258,0.553333,-1.281972,0.705893,0.922064,Iris-virginica
147,1.674353,0.795669,-0.124958,0.819624,1.053537,Iris-virginica
148,1.697448,0.432165,0.800654,0.933356,1.447956,Iris-virginica
149,1.720542,0.068662,-0.124958,0.762759,0.790591,Iris-virginica